{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
             style='background-image:url("{{ asset('adminator/bg.jpg') }}")'>
            <div class="pos-a centerXY">
                <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px"><img
                        class="pos-a centerXY logo-auth"
                        src="{{ asset('images/logo-in-easy-white.svg') }}"
                        alt=""
                        style="max-width:60px;max-height:60px">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">
            <h4 class="fw-300 c-grey-900 mB-40">Login</h4>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post" action="{{ path('app_login') }}">
                <div class="mb-3">
                    <label class="text-normal text-dark form-label">{{ 'username.label'|trans }}</label>
                    <input type="text" class="form-control" name="_username" value="{{ last_username }}" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="text-normal text-dark form-label">{{ 'username.password'|trans }}</label>
                    <input type="password" class="form-control" name="_password" required>
                </div>
                <div class="">
                    <div class="peers ai-c jc-sb fxw-nw">
                        <div class="peer">
                            <button type="submit" class="btn btn-primary btn-color">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
