{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
             style='background-image:url("{{ asset('images/bg.jpg') }}")'>
            <div class="pos-a centerXY">
                <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px"><img
                        class="pos-a centerXY logo-auth"
                        src="{{ asset('images/logo-mc.png') }}"
                        alt=""
                        style="max-width:60px;max-height:60px">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">
            <h4 class="fw-300 c-grey-900 mB-40">Login</h4>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            <form method="post" action="{{ path('app_login') }}">
                <div class="mb-3">
                    <label class="text-normal text-dark form-label">{{ 'username.label'|trans }}</label>
                    <input type="text" class="form-control" name="_username" value="{{ last_username }}" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="text-normal text-dark form-label">{{ 'username.password'|trans }}</label>
                    <input type="password" class="form-control" name="_password" required>
                </div>
                <div class="row">
                    <div class="col-sm-6"><button type="submit" class="btn btn-primary btn-color">{{ 'login.label'|trans }}</button></div>
                    <div class="col-sm-6" style="text-align: right;"><a href="{{ path('forgot_password') }}">{{ 'password_forgotten'|trans }}</a></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
