<div class="design-chooser container-fluid px-0" role="radiogroup" aria-label="Rechnungsdesign wählen">
    <div class="row g-3">
        {% for choice in form.design %}
            {% set val    = choice.vars.value %}
            {% set label  = choice.vars.label %}
            {% set src    = choice.vars.attr['data-preview'] ?? asset('images/invoice_designs/' ~ val ~ '.jpg') %}
            {% set active = choice.vars.checked %}

            <div class="col-2 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                <label class="design-option d-block {{ active ? 'is-selected' : '' }}">
                    {{ form_widget(choice, { attr: { class: 'design-input' } }) }}
                    <div class="design-card card shadow-sm">
                        <div class="ratio ratio-a4-portrait">
                            <img src="{{ src }}" alt="{{ label }} Preview" class="img-obj-contain">
                        </div>
                        <div class="design-name card-body py-2 text-center">{{ label }}</div>
                    </div>
                </label>
            </div>
        {% endfor %}
    </div>
</div>

{{ form_errors(form.design) }}
