{% extends 'base_logged_in.html.twig' %}

{% block title %}{{ 'invoice_detail_title'|trans }}{% endblock %}

{% block logged_in_content %}
    <h1 class="mb-4">{{ 'invoice_detail_title'|trans }}</h1>

    {% form_theme form 'form/adminator_bootstrap_5_layout.html.twig' %}

    {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
    {% if form.customer is defined %}
        {{ form_row(form.customer) }}
    {% else %}
        <div class="mb-3 row form-text-_invoice_invoiceNumber">
            <label class="form-label col-sm-2 col-form-label">
                {{ 'customer.label'|trans }}
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{ invoice.customer ? invoice.customer : '-' }}" disabled>
            </div>
        </div>
    {% endif %}
{#    {{ form_row(form.customer) }}#}
{#    {{ form_row(form.company) }}#}
    {{ form_row(form.invoiceNumber) }}
    {{ form_row(form.invoiceDate) }}
    {{ form_row(form.status) }}
    {{ form_row(form.entryText) }}

    <div class="bd bgc-white p-20 mt-5 mb-5">
        <div class="layers">
            <div class="layer w-100 mB-10">
                <h6 class="lh-1">{{ 'invoice_items'|trans }}</h6>
                {{ form_errors(form.invoiceItems) }}
            </div>

            <div class="layer w-100"
                 data-controller="form-collection"
                 data-form-collection-index-value="{{ form.invoiceItems|length }}">

                <template data-form-collection-target="prototype">
                    <tr data-collection-item>
                        <td><span data-collection-counter>__n__</span></td>
                        <td>{{ form_widget(form.invoiceItems.vars.prototype.title) }}</td>
                        <td>{{ form_widget(form.invoiceItems.vars.prototype.description) }}</td>
                        <td>{{ form_widget(form.invoiceItems.vars.prototype.quantity) }}</td>
                        <td>{{ form_widget(form.invoiceItems.vars.prototype.unitPrice) }}</td>
                        <td>{{ form_widget(form.invoiceItems.vars.prototype.taxRate) }}</td>
                        <td><button type="button" class="btn btn-outline-danger confirmRemoveItem" data-action="click->form-collection#remove" data-confirm-message="{{ 'confirm_remove'|trans }}">{{ 'remove'|trans }}</button></td>
                    </tr>
                </template>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="width: 20%;">{{ 'title.label'|trans }}</th>
                        <th scope="col" style="width: 50%;">{{ 'description.label'|trans }}</th>
                        <th scope="col" style="width: 10%;">{{ 'quantity.label'|trans }}</th>
                        <th scope="col" style="width: 10%;">{{ 'unitPrice.label'|trans }}</th>
                        <th scope="col" style="width: 10%;">{{ 'taxRate.label'|trans }}</th>
                        <th scope="col" style="width: 10%;">{{ 'action'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody data-form-collection-target="list">
                    {% for itemForm in form.invoiceItems %}
                        <tr data-collection-item>
                            <td scope="row"><span data-collection-counter>{{ loop.index }}</span></td>
                            <td>{{ form_widget(itemForm.title) }}</td>
                            <td>{{ form_widget(itemForm.description) }}</td>
                            <td>{{ form_widget(itemForm.quantity) }}</td>
                            <td>{{ form_widget(itemForm.unitPrice) }}</td>
                            <td>{{ form_widget(itemForm.taxRate) }}</td>
                            <td>
                                <button type="button"
                                        class="btn btn-outline-danger confirmRemoveItem"
                                        data-action="click->form-collection#remove"
                                        data-confirm-message="{{ 'confirm_remove'|trans }}">
                                    {{ 'remove'|trans }}
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <button type="button"
                                    class="btn btn-success mt-3"
                                    data-action="click->form-collection#add">
                                {{ 'addInvoiceItem'|trans }}
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {{ form_row(form.paymentInfoText) }}
    {{ form_row(form.bottomText) }}

    <div class="row mt-5 pt-3 border-top">
        <h2>Summen</h2>
        <div class="col-sm-6">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row"><h4>Summe Netto</h4></th>
                    <td style="text-align: right;"><h4>{{ invoice.totalNetto|number_format(2, ',', '.') }} €</h4></td>
                </tr>
                <tr>
                    <th scope="row"><h4>Summe Steuern</h4></th>
                    <td style="text-align: right;"><h4>{{ invoice.taxSum|number_format(2, ',', '.') }} €</h4></td>
                </tr>
                {% for item in invoice.invoiceItems %}
                    <tr>
                        <th scope="row"><h6>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.taxRate.name }} ({{ item.taxRate.rate }}%)</h6></th>
                        <td style="text-align: right;"><h6>{{ item.taxSum|number_format(2, ',', '.') }} €</h6></td>
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="row"><h4>Gesamtsumme</h4></th>
                    <td style="text-align: right;"><h4>{{ invoice.total|number_format(2, ',', '.') }} €</h4></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3 row">
        <div class="col-sm-8">
            <a href="{{ path('invoice_list') }}" class="btn btn-secondary">{{ 'back_to_list'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'save'|trans }}</button>
            {% if invoice.id %}
            <a class="btn btn-warning"
               href="{{ path('invoice_pdf', {id: invoice.id}) }}"
               target="_blank" rel="noopener">
                {{ 'print_pdf'|trans }}
            </a>
{#            <a href="{{ path('invoice_send_pdf', { id: invoice.id }) }}"#}
{#               class="btn btn-info">#}
{#                <i class="ti-envelope"></i> {{ 'send_pdf_to_customer'|trans }}#}
{#            </a>#}
            {% endif %}
        </div>
        <div class="col-sm-4" style="text-align: right;">
            {% if invoice.id and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('invoice_delete', {'id': invoice.id}) }}" class="btn btn-danger confirmRemoveItem" data-confirm-message="{{ 'confirm_remove'|trans }}">{{ 'delete'|trans }}</a>
            {% endif %}
        </div>
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, { 'render_rest': false }) }}

{% endblock %}
