{% extends 'base_logged_in.html.twig' %}

{% block title %}{{ 'invoice_list'|trans }}{% endblock %}

{% block logged_in_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">
                        {{ 'invoice_list'|trans }}

                        <div class="float-end">
                            <a href="{{ path('invoice_new') }}" class="btn btn-success">{{ 'create_new'|trans }}</a>
                        </div>
                    </h4>

                    {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                {{ message|raw }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <table id="dataTables" class="mcDataTable table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>{{ 'invoiceNumber.label'|trans }}</th>
                            <th>{{ 'invoiceDate.label'|trans }}</th>
                            <th>{{ 'status.label'|trans }}</th>
                            <th>{{ 'action'|trans }}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>{{ 'invoiceNumber.label'|trans }}</th>
                            <th>{{ 'invoiceDate.label'|trans }}</th>
                            <th>{{ 'status.label'|trans }}</th>
                            <th>{{ 'action'|trans }}</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td><a href="{{ path('invoice_edit', { id: invoice.id }) }}">{{ invoice.invoiceNumber }}</a></td>
                                <td><a href="{{ path('invoice_edit', { id: invoice.id }) }}">{{ invoice.invoiceDate ? invoice.invoiceDate|date('d.m.Y') : '' }}</a></td>
                                <td>
                                    {% set label = invoice.status.label %}
                                    {% set class = {
                                        'Offen': 'bg-warning',
                                        'Versendet': 'bg-info',
                                        'Bezahlt': 'bg-success'
                                    }[label] %}
                                    <a href="{{ path('invoice_edit', { id: invoice.id }) }}">
                                        <span class="badge {{ class }}">{{ label }}</span>
                                    </a>
                                </td>
                                <td class="text-nowrap">
                                    <a href="{{ path('invoice_edit', {id: invoice.id}) }}" title="{{ 'edit'|trans }}">
                                        <span class="badge bg-info"><i class="ti-pencil-alt"></i></span>
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('invoice_delete', {id: invoice.id}) }}" class="confirmRemoveItem" title="{{ 'delete'|trans }}" data-confirm-message="{{ 'confirm_remove'|trans }}">
                                            <span class="badge bg-danger"><i class="ti-trash"></i></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
