{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
             style='background-image:url("{{ asset('images/bg.jpg') }}")'>
            <div class="pos-a centerXY">
                <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px"><img
                        class="pos-a centerXY logo-auth"
                        src="{{ asset('images/logo-mc.png') }}"
                        alt=""
                        style="max-width:60px;max-height:60px">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">
            <h4 class="fw-300 c-grey-900 mB-40">{{ 'forgot_password_headline'|trans }}</h4>

            {% form_theme form 'form/adminator_bootstrap_5_layout.html.twig' %}

            {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}
            {{ form_row(form.email) }}
            <button class="btn btn-primary">{{ 'request_password_new_link'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
