{% extends 'base_logged_in.html.twig' %}

{% block title %}{{ 'tax_rate_detail_title'|trans }}{% endblock %}

{% block logged_in_content %}
    <h1 class="mb-4">{{ 'tax_rate_detail_title'|trans }}</h1>

    {% form_theme form 'form/adminator_bootstrap_5_layout.html.twig' %}

    {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="mb-3 row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">{{ 'save'|trans }}</button>
            <a href="{{ path('tax_rate_list') }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
            {% if tax_rate.id %}
            <a href="{{ path('tax_rate_delete', {'id': tax_rate.id}) }}" class="btn btn-danger confirmRemoveItem" data-confirm-message="{{ 'confirm_remove'|trans }}">{{ 'delete'|trans }}</a>
            {% endif %}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
