{% extends 'base_logged_in.html.twig' %}

{% block title %}{{ 'user_detail_title'|trans }}{% endblock %}

{% block logged_in_content %}
    <h1 class="mb-4">{{ 'user_detail_title'|trans }}</h1>

    {% form_theme form 'form/adminator_bootstrap_5_layout.html.twig' %}

    {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
    <div class="row gap-20 pos-r">
        <div class="col-md-6">
            <div class="bgc-white p-20 bd">
                <h6 class="c-grey-900">{{ 'user_data'|trans }}</h6>
                <div class="mT-30">

                    {{ form_row(form.username) }}
                    {{ form_row(form.roles) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.department) }}
                    {{ form_row(form.position) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phoneNumber) }}
                    {{ form_row(form.mobileNumber) }}
                    {{ form_row(form.faxNumber) }}
                    {{ form_row(form.isActive) }}

                    <div class="mb-3 row">
                        <div class="col-sm-8">
                            <a href="{{ path('user_list') }}" class="btn btn-secondary">{{ 'back_to_list'|trans }}</a>
                            <button type="submit" class="btn btn-primary">{{ 'save'|trans }}</button>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            {% if user.id and is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger confirmRemoveItem" data-confirm-message="{{ 'confirm_remove'|trans }}">{{ 'delete'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bgc-white p-20 bd">
                <h6 class="c-grey-900">{{ 'password_change_headline'|trans }}</h6>
                <div class="mT-30">
                    {{ form_row(form.password) }}

                    <div class="mb-3 row">
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary">{{ 'change_password'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
