{% extends 'base_logged_in.html.twig' %}

{% block title %}User-List{% endblock %}

{% block logged_in_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">
                        Users

                        <div class="float-end">
                            <a href="{{ path('user_new') }}" class="btn btn-success">Create new</a>
                        </div>
                    </h4>
                    <table id="dataTables" class="mcDataTable table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>{{ 'company.label'|trans }}</th>
                            <th>{{ 'username.label'|trans }}</th>
                            <th>{{ 'firstName.label'|trans }}</th>
                            <th>{{ 'lastName.label'|trans }}</th>
                            <th>{{ 'email.label'|trans }}</th>
                            <th>{{ 'department.label'|trans }}</th>
                            <th>{{ 'position.label'|trans }}</th>
                            <th>{{ 'phoneNumber.label'|trans }}</th>
                            <th>{{ 'mobileNumber.label'|trans }}</th>
                            <th>{{ 'faxNumber.label'|trans }}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>{{ 'company.label'|trans }}</th>
                            <th>{{ 'username.label'|trans }}</th>
                            <th>{{ 'firstName.label'|trans }}</th>
                            <th>{{ 'lastName.label'|trans }}</th>
                            <th>{{ 'email.label'|trans }}</th>
                            <th>{{ 'department.label'|trans }}</th>
                            <th>{{ 'position.label'|trans }}</th>
                            <th>{{ 'phoneNumber.label'|trans }}</th>
                            <th>{{ 'mobileNumber.label'|trans }}</th>
                            <th>{{ 'faxNumber.label'|trans }}</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.company }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.username }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.firstName }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.lastName }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.email }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.department }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.position }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.phoneNumber }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.mobileNumber }}</a></td>
                                <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.faxNumber }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">Keine Benutzer gefunden</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
