{% extends 'base_logged_in.html.twig' %}

{% block title %}{{ 'customer_list'|trans }}{% endblock %}

{% block logged_in_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">
                        {{ 'customer_list'|trans }}

                        <div class="float-end">
                            <a href="{{ path('customer_new') }}" class="btn btn-success">{{ 'create_new'|trans }}</a>
                        </div>
                    </h4>

                    {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                {{ message|raw }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <table class="mcDataTable table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>{{ 'type.label'|trans }}</th>
                            <th>{{ 'firstname.label'|trans }}</th>
                            <th>{{ 'lastname.label'|trans }}</th>
                            <th>{{ 'email.label'|trans }}</th>
                            <th>{{ 'street.label'|trans }}</th>
                            <th>{{ 'city.label'|trans }}</th>
                            <th>{{ 'zip.label'|trans }}</th>
                            <th>{{ 'country.label'|trans }}</th>
                            <th>{{ 'uid.label'|trans }}</th>
                            <th>{{ 'action'|trans }}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>{{ 'type.label'|trans }}</th>
                            <th>{{ 'firstname.label'|trans }}</th>
                            <th>{{ 'lastname.label'|trans }}</th>
                            <th>{{ 'email.label'|trans }}</th>
                            <th>{{ 'street.label'|trans }}</th>
                            <th>{{ 'city.label'|trans }}</th>
                            <th>{{ 'zip.label'|trans }}</th>
                            <th>{{ 'country.label'|trans }}</th>
                            <th>{{ 'uid.label'|trans }}</th>
                            <th>{{ 'action'|trans }}</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.type.label }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.firstname }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.lastname }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.email }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.street }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.city }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.zip }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.country }}</a></td>
                                <td><a href="{{ path('customer_edit', { id: customer.id }) }}">{{ customer.uid }}</a></td>
                                <td class="text-nowrap">
                                    <a href="{{ path('customer_edit', {id: customer.id}) }}" title="{{ 'edit'|trans }}">
                                        <span class="badge bg-info"><i class="ti-pencil-alt"></i></span>
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('customer_delete', {id: customer.id}) }}" class="confirmRemoveItem" title="{{ 'delete'|trans }}" data-confirm-message="{{ 'confirm_remove'|trans }}">
                                            <span class="badge bg-danger"><i class="ti-trash"></i></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
