<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Rechnung {{ invoice.invoiceNumber ?? invoice.id }}</title>
    <style>
        /* Minimal-PDF-Styles (dompdf mag inline/embedded CSS) */
        @page { margin: 20mm; }
        body { font-family: DejaVu Sans, sans-serif; font-size: 12px; color: #222; }
        h1 { font-size: 18px; margin: 0 0 10px; }
        .meta { margin-bottom: 16px; }
        .meta div { line-height: 1.4; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 0; padding: 6px 0; vertical-align: top; }
        th { border-bottom: 1px solid black; text-align: left; }
        .right { text-align: right; }
        .totals td { border-top: 1px solid black; }
        .totals .label { text-align: right; padding-right: 0; }
        .totals .value { width: 120px; }
        .small { font-size: 11px; color: #666; }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 20mm;
            text-align: center;
            font-size: 10px;
            padding-top: 4px;
        }
    </style>
</head>
<body>


<table>
    <tbody>
    <tr>
        <td>
            <b>{{ invoice.company.name }}</b><br/>
            {{ invoiceAddress.street }}<br/>
            {{ invoiceAddress.zip }} {{ invoiceAddress.city }}<br/>
            {{ invoiceAddress.country }}<br/>
            {{ 'uid.label'|trans }}: {{ invoice.company.uid }}
        </td>
        <td class="right">
            <img src="{{ logoDataUri }}" alt="{{ invoice.company.name }} Logo" style="height:100px;">
        </td>
    </tr>
    </tbody>
</table>

<table style="margin-top: 30px; margin-bottom: 30px;">
    <tbody>
    <tr>
        <td>
            <b>{{ 'receiver'|trans }}:</b><br/>
            {{ invoice.customer.companyName }}<br/>
            {{ invoice.customer.firstname }} {{ invoice.customer.lastname }}<br/>
            {{ invoice.customer.zip }} {{ invoice.customer.city }}<br/>
            {{ invoice.customer.country }}<br/>
            {{ 'uid.label'|trans }}: {{ invoice.customer.uid }}
        </td>
        <td>
            <table>
                <tbody>
                <tr>
                    <td class="right" style="width:72%;">
                        <b>{{ 'invoiceNumber.label'|trans }}</b>:<br/>
                        <b>{{ 'invoiceDate.label'|trans }}</b>:<br/>
                    </td>
                    <td class="right">
                        {{ invoice.invoiceNumber }}<br/>
                        {{ invoice.invoiceDate ? invoice.invoiceDate|date('d.m.Y') : '' }}<br/>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<h1>{{ 'invoice.label'|trans }} {{ invoice.invoiceNumber ?? invoice.id }}</h1>
<p>
    {{ invoice.entryText }}
</p>

<table style="margin-top: 30px;">
    <thead>
    <tr>
        <th style="width: 4%;">#</th>
        <th>{{ 'description.label'|trans }}</th>
        <th class="right" style="width: 10%;">{{ 'quantity.label'|trans }}</th>
        <th class="right" style="width: 14%;">{{ 'unitPrice_short'|trans }}</th>
        <th class="right" style="width: 10%;">{{ 'tax_rate_short'|trans }}</th>
        <th class="right" style="width: 14%;">{{ 'netto_price'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in invoice.invoiceItems %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><b>{{ item.title }}</b><br/>{{ item.description }}</td>
            <td class="right">{{ item.quantity }}</td>
            <td class="right">{{ item.unitPrice|number_format(2, ',', '.') }} €</td>
            <td class="right">{{ item.taxRate is not null ? item.taxRate.rate|number_format(0, ',', '.') : '0' }} %</td>
            <td class="right">
                {{ item.total|number_format(2, ',', '.') }} €
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6" class="small">{{ 'no_invoice_items'|trans }}</td></tr>
    {% endfor %}
    </tbody>
</table>
<table style="border-top: 1px solid black;">
    {% set netto = 0 %}
    {% for item in invoice.invoiceItems %}
        {% set netto = netto + (item.quantity|default(0) * item.unitPrice|default(0)) %}
    {% endfor %}
    {% set taxSum = 0 %}
    {% for item in invoice.invoiceItems %}
        {% set taxSum = taxSum + ((item.quantity|default(0) * item.unitPrice|default(0)) * (item.taxRate.rate|default(0) / 100)) %}
    {% endfor %}
    {% set brutto = netto + taxSum %}

    <tr class="totals">
        <td class="label"><strong>Zwischensumme Netto:</strong></td>
        <td class="value right">{{ netto|number_format(2, ',', '.') }} €</td>
    </tr>
    <tr class="totals">
        <td class="label"><strong>Summe Steuern:</strong></td>
        <td class="value right">{{ taxSum|number_format(2, ',', '.') }} €</td>
    </tr>
    <tr class="totals">
        <td colspan="2" style="height: 1px; padding: 0;"></td>
    </tr>
    <tr class="totals">
        <td class="label"><strong>Gesamtsumme:</strong></td>
        <td class="value right"><strong>{{ brutto|number_format(2, ',', '.') }} €</strong></td>
    </tr>
</table>

<p class="small" style="margin-top: 18px;">
    {{ invoice.paymentInfoText }}
</p>

<p style="margin-top: 18px;">
    <b>{{ 'our_banc_information'|trans }}:</b><br/>
    {{ 'bancAccountInstitute.label'|trans }}: {{ invoice.company.bancAccountInstitute }}<br/>
    {{ 'bancAccountOwner.label'|trans }}: {{ invoice.company.bancAccountOwner }}<br/>
    {{ 'bancAccountIBAN.label'|trans }}: {{ invoice.company.bancAccountIBAN }}<br/>
    {{ 'bancAccountBIC.label'|trans }}: {{ invoice.company.bancAccountBIC }}
</p>

<p>
    {{ invoice.bottomText }}
</p>


<footer>
    <table>
        <tbody>
        <tr>
            <td><img src="{{ footerLogoDataUri }}" alt="{{ invoice.company.name }} Logo" style="width:50px;"></td>
            <td>
                {{ invoice.company.name }}<br/>
                {{ invoiceAddress.street }}<br/>
                {{ invoiceAddress.zip }} {{ invoiceAddress.city }}, {{ invoiceAddress.country }}
            </td>
            <td>
                T: {{ invoice.company.phone }}<br/>
                E: {{ invoice.company.email }}<br>
                {{ 'uid.label'|trans }} {{ invoice.company.uid }}
            </td>
            <td>
                {{ 'bancAccountInstitute.label'|trans }}: {{ invoice.company.bancAccountInstitute }}<br/>
                {{ 'bancAccountIBAN.label'|trans }}: {{ invoice.company.bancAccountIBAN }}<br/>
                {{ 'bancAccountBIC.label'|trans }}: {{ invoice.company.bancAccountBIC }}
            </td>
        </tr>
        </tbody>
    </table>
</footer>
</body>
</html>
