{# templates/form/custom_form_theme.html.twig #}
{% use 'bootstrap_5_layout.html.twig' %}

{# Überschreibe das form_row-Block, um eigene Wrapper-Klassen zu setzen #}
{% block form_row %}
    <div class="mb-3 row {{ block_prefixes|join('-') }}">
        {{ form_label(form) }}
        <div class="col-sm-10">
            {{ form_widget(form) }}
            {{ form_help(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block form_label %}
    {# 1) Nur rendern, wenn nicht explizit label=false #}
    {% if label is not same as(false) %}
        {# 2) Wenn kein Label gesetzt ist, nimm name|humanize oder ein label_format #}
        {% if label is empty %}
            {% if label_format is defined and label_format %}
                {% set label = label_format
                    |replace({ '%name%': name, '%id%': id }) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        {# 3) Übersetze das Label (mittels translation_domain) #}
        {% set translated = label|trans({}, translation_domain) %}
        <label class="form-label col-sm-2 col-form-label" for="{{ id }}">
            {{ translated }}
        </label>
    {% endif %}
{% endblock form_label %}
