{% extends 'base_logged_in.html.twig' %}

{% block title %}{{ 'tarif_list'|trans }}{% endblock %}

{% block logged_in_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h4 class="c-grey-900 mB-20">
                        {{ 'tarif_list'|trans }}

                        <div class="float-end">
                            <a href="{{ path('tarif_new') }}" class="btn btn-success">{{ 'create_new'|trans }}</a>
                        </div>
                    </h4>

                    {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                {{ message|raw }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <table class="mcDataTable table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>{{ 'name.label'|trans }}</th>
                            <th>{{ 'validFrom.label'|trans }}</th>
                            <th>{{ 'validTo.label'|trans }}</th>
                            <th>{{ 'description.label'|trans }}</th>
                            <th>{{ 'furtherInfo.label'|trans }}</th>
                            <th>{{ 'action'|trans }}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>{{ 'name.label'|trans }}</th>
                            <th>{{ 'validFrom.label'|trans }}</th>
                            <th>{{ 'validTo.label'|trans }}</th>
                            <th>{{ 'description.label'|trans }}</th>
                            <th>{{ 'furtherInfo.label'|trans }}</th>
                            <th>{{ 'action'|trans }}</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for tarif in tarifs %}
                            <tr>
                                <td><a href="{{ path('tarif_edit', { id: tarif.id }) }}">{{ tarif.name }}</a></td>
                                <td><a href="{{ path('tarif_edit', { id: tarif.id }) }}">{{ tarif.validFrom ? tarif.validFrom|date('d.m.Y') : '' }}}</a></td>
                                <td><a href="{{ path('tarif_edit', { id: tarif.id }) }}">{{ tarif.validTo ? tarif.validTo|date('d.m.Y') : '' }}</a></td>
                                <td><a href="{{ path('tarif_edit', { id: tarif.id }) }}">{{ tarif.description }}</a></td>
                                <td><a href="{{ path('tarif_edit', { id: tarif.id }) }}">{{ tarif.furtherInfo }}</a></td>
                                <td class="text-nowrap">
                                    <a href="{{ path('tarif_edit', {id: tarif.id}) }}" title="{{ 'edit'|trans }}">
                                        <span class="badge bg-info"><i class="ti-pencil-alt"></i></span>
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('tarif_delete', {id: tarif.id}) }}" class="confirmRemoveItem" title="{{ 'delete'|trans }}" data-confirm-message="{{ 'confirm_remove'|trans }}">
                                            <span class="badge bg-danger"><i class="ti-trash"></i></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
